
.wrapper {
  background-color: #000;
  padding: 3rem 0;
  max-width: 100%;
}
.slider-wrapper {
max-width: 50%;
margin: 0 auto;
}

.slide {
  display: none;
  margin: 0 auto;
}

.slide.active {
  display: block;
}

.slider-img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
.slider-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #000;
  margin: 0 auto;
}

.slider-text {
  color: #fff;
}

.dots-wrapper {
  display: flex;
}


.dot.active {
  background-color: #D2B183;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #fff;
  margin-right: 25px;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-boxgi;
}

.dot:hover {
  background-color: #000;
  border: 2px solid #D2B183 ;
}

